<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Auth0:Domain" value="dev-r--utcfg.eu.auth0.com"/>
    <add key="Auth0:ClientId" value="dRZhtE76Q7iI0XShfqnw9WE1p4sSXDwv"/>
  </appSettings>
	<connectionStrings>
		<!--<add name="ALGOTRADE" connectionString="Data Source=DESKTOP-92S5UJ7\ALGOTRADE;Initial Catalog=algotrade;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<add name="ALGOTRADE" connectionString="server=den1.mysql5.gear.host;user=algotrade;database=algotrade;port=3306;password=Ci25d56~p-72;" />
		<add name="ALGOTRADE_Local" connectionString="server=localhost;user=root;database=algotrade;port=3306;password=Belgard24;" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
